h1 {
	font-family: "angie-sans", sans-serif;
font-weight: 600;
font-style: normal;
margin-left: 60px;
color: #0A141F;
}

@media screen and (max-width: 650px) {

  h1 {
    font-size: 24px;
    margin-left: 20px;
  }
}

body 
{
	background-color: #B8BEDD;
}

.intro 
{
	font-family: "edita", serif;
font-weight: 400;
font-style: normal;
margin-left: 60px;
margin-right: 120px;
color: #003249;
font-size: 24px;
}

@media screen and (max-width: 650px) {


  .intro {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
  }
}
.river 

{
	max-width:100%;
	 display:flex;
		width: 1500px;
		height: 500px;
		justify-content: center;
		align-content: center
}


 .river {
    width: 100%;
    height: auto;

  }

  @media screen and (max-width: 650px) {


   .river {
   width: 750px;
		height: 250px;
  }
}


.caption

{

font-family: "edita", serif;
font-weight: 400;
font-style: normal;
color: #003249;

}

@media screen and (max-width: 650px) {

 .caption {
    font-size: 18px;
  }

}

.sights {
	display:flex;
	flex-direction:row;
	justify-content: center;
	margin-right: 120px;
}


@media screen and (max-width: 650px) {

  .sights, .love {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }


}

.p1 {
	display:flex;
		width: 280px;
		height: 500px;
		padding: 100px;
		}

		.p2 {
	display:flex;
		width: 280px;
		height: 500px;
		padding: 100px
		}

		.p3 {
	display:flex;
		width: 280px;
		height: 500px;
		padding: 100px;
		}

		.q 

		{
			font-family: "edita", serif;
font-weight: 500;
font-style: italic;
font-size: 32px;
color: #003249;
margin-left: 120px;
margin-right: 120px;
		}


		@media screen and (max-width: 650px) {

 
.p1, .p2, .p3{

	display: flex;
	 flex-direction: column;


width: 280px;
		height: 500px;
    padding: 1px;
    box-sizing: border-box;
    margin-bottom: -60px;

}
}

@media screen and (max-width: 650px) {

.love1, .love2 {
   width: 140px;
		height: 250px;
    padding: 20px;
    box-sizing: border-box;
  }


}

		.love {
	display:flex;
	flex-direction:row;
	justify-content: center;
	margin-right: 100px;
}

.love1 {
	display:flex;
	max-width: 100%;
		width: 300px;
		height: 500px;
		padding: 100px;
		}

		.love2 {
	display:flex;
	max-width: 100%;
		width: 300px;
		height: 500px;
		padding: 100px
		}

		.text1 {
			font-family: "edita", serif;
font-weight: 500;
font-style: italic;
font-size: 24px;
color: #003249;
margin-left: 120px;
margin-right: 120px;

		}

		.text2 {

			font-family: "edita", serif;
font-weight: 400;
font-style: normal;
font-size: 24px;
color: #003249;
margin-left: 120px;
margin-right: 120px;
text-align: justify;
    text-align-last: center;

		}

		.type 
		{
			font-family: "edita", serif;
font-weight: 500;
font-style: italic;
font-size: 32px;
color: #003249;

overflow: hidden; 
  border-right: .15em solid #0A141F; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
		}

		@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #0A141F; }
}

.poet

{
	max-width:100%;
	 display:flex;
		width: 2400px;
		height: 800px;
		justify-content: center;
		align-content: center

}



.mypoem

{
	font-family: "edita", serif;
font-weight: 500;
font-style: italic;
font-size: 32px;
color: #003249;
}

.poem{
	margin-left: 60px;
	font-family: "edita", serif;
font-weight: 400;
font-style: normal;
font-size: 24px;
color: #003249;
margin-bottom: 200px;

}

@media screen and (max-width: 650px) {

	.q {

		 margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    position:relative;
    top:70px;

	}


@media screen and (max-width: 650px) {

  .q, .text1, .text2, .type, .poem {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
  }
  }

  @media screen and (max-width: 650px) {
 
  .poet {
    width: 800px;
		height: 300px;

  }


@media screen and (max-width: 650px) {

  .mypoem {
    font-size: 25px;
  }

}






