body{
	background-color:#FFD166;
}
h1 {
    font-family: "angie-sans", sans-serif;
font-weight: 600;
font-style: normal;
margin-left: 60px;
color: #003249;

}

@media screen and (max-width: 650px) {

  h1 {
    font-size: 24px;
    margin-left: 20px;
  }
}

.river 

{
	max-width:100%;
	 display:flex;
		width: 1500px;
		height: 500px;
		justify-content: center;
		align-content: center

}

 @media screen and (max-width: 650px) {


   .river {
   width: 750px;
		height: 250px;
  }
}

.caption

{

font-family: "edita", serif;
font-weight: 400;
font-style: normal;
color: #003249;

}

@media screen and (max-width: 650px) {

 .caption {
    font-size: 18px;
  }

}

.intro 
{
	font-family: "edita", serif;
font-weight: 400;
font-style: normal;
margin-left: 60px;
margin-right: 800px;
color: #003249;
font-size: 24px;
}

@media screen and (max-width: 650px) {


  .intro {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
  }
}
.night {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px; 
}

.p1,
.p2,
.p3 {
    width: calc(33.33% - 20px); 
    height: auto; 
    margin: 10px;
}

.p1 img,
.p2 img,
.p3 img {
    max-width: 100%; 
    height: auto; 
}

@media screen and (max-width: 650px) {
    .night {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .p1,
    .p2,
    .p3 {
        width: 100%;
    }
}

    




	.poetry{
		font-size: 18px;
		font-family:Courier New;


		}


		
	
	.con1 {

	color:#003249;
font-family: "edita", serif;
font-weight: 500;
font-style: italic;
font-size: 32px;
text-align: center;
align-content: center;
margin-top: 150px;
	
}


.clip {
    max-width: 75%;
    position: relative;
    top: -300px;
 
}

@media screen and (max-width: 650px) {
    .clip {
    	margin-top: -200px;
    	margin-bottom: -200px;
    	padding: 0px;
    	margin-right: 1600px;
    	margin-left: 2000px;
    	align-content: left;
    	align-items: left;
  scale: 40%;
     
    }
}

	.boat{
		color:darkslategray;
	}



.text {color: cornflowerblue;

}

.box1{
	color:white;
font-family: "edita", serif;
font-weight: 400;
font-style: normal;
	width: 400px;
	height: 200px;
	background-color:#122932;
	display:flex;
	align-items: center;
	justify-content: center;
	padding: 10px;

}

.box1:hover{
	font-size: 0;
}

.box1:hover:after{
	content: attr(data-hover);
	font-size:24px;
}

.box1{
	color:white;
font-family: "edita", serif;
font-weight: 400;
font-style: normal;
	width: 400px;
	height: 200px;
	background-color:#122932;
	display:flex;
	align-items: center;
	justify-content: center;
	padding: 10px;

}

.box2:hover{
	font-size: 0;
}

.box2:hover:after{
	content: attr(data-hover);
	font-size:24px;
	text-align: center;
}

.box2{
	
	color:white;
	font-family: "edita", serif;
font-weight: 400;
font-style: normal;
	width: 400px;
	height: 200px;
	background-color:#122932;
	display:flex;
	align-items: center;
	justify-content: center;
	padding: 10px;

}

.box3:hover{
	font-size: 0;
}

.box3:hover:after{
	content: attr(data-hover);
	font-size:24px;
	text-align: center;
}

.box3{
	color:white;
	font-family: "edita", serif;
font-weight: 400;
font-style: normal;
	width: 400px;
	height: 200px;
	background-color:#122932;
	display:flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;

}

.box1,
.box2,
.box3 {
	max-width: 800px;
        height: 200px;
    margin: 0 auto 20px; 
}

@media screen and (max-width: 650px) {
    .container {
        flex-direction: column;
       margin-top: 50px;
       margin-bottom: -200px;
    }

    .box1,
    .box2,
    .box3 {
        width: 100%;
        max-width: none;
        height: 200px;
        margin: 0 auto 20px; /* Adjust spacing between boxes */
    }
}









.poetry{
	margin-left: 60px;
	font-family: "edita", serif;
font-weight: 500;
font-style: italic;
font-size: 24px;
color: #003249;

}

@media screen and (max-width: 650px) {

  .poetry {
    font-size: 18px;
    margin-left: 20px;
  }

}


.look {
	align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 100px;
    margin-left: 400px;
}

.look img {
    width: 350px;
    height: 500px;
}

@media screen and (max-width: 650px) {
    .look {
    	margin-top: 200px;
        flex-direction: row;
        align-items: center;
        scale:60%;
        width: 350px;
    	height: 500px;
    	
    }


	


}

.h1 {
	display:flex;
	max-width: 150%;
		width: 500px;
		height: 700px;
		padding: 100px;
		}

		.h2 {
	display:flex;
	max-width: 150%;
		width: 500px;
		height: 700px;
		padding: 100px
		}

		.text
		{font-family: "edita", serif;
font-weight: 500;
font-style: italic;
font-size: 32px;
color: #003249;
margin-left: -700px;
margin-bottom: 500px}

@media screen and (max-width: 650px) {

.text {
	margin-left: 150px;
color:#003249;
font-family: "edita", serif;
font-weight: 500;
font-style: italic;
font-size: 32px;
text-align: center;
align-content: center;
margin-top: -450px;

}

}


