 body {
	background-color:#191516;
}

.heading {
	font-family: "angie-sans", sans-serif;
font-weight: 600;
font-style: normal;
margin-left: 60px;
color:#F3F8F2;

}


@media screen and (max-width: 650px) {

  h1 {
    font-size: 24px;
    margin-left: 20px;
  }
}

a:link {
  color: #F3F8F2;
  text-decoration: none;
}

a:visited {
  color:#F3F8F2;
  text-decoration: none;
}

a:hover {
  color: #FFF9EB;
}

.er {
	    display:flex;
		width: 1000px;
		height: 500px;
		justify-content: center;
		align-content: center
	}

	@media screen and (max-width: 650px) {


   .er{
   width: 750px;
		height: 250px;
		margin-left: -72px;
  }
}


	h4{
	color: #F3F8F2;
	font-family: "edita", serif;
font-weight: 400;
font-style: normal;
}

@media screen and (max-width: 650px) {

 h4{
    font-size: 18px;
    margin-left: 70px;
  }

}

.dark
{
	align-items: center;
	font-family: "edita", serif;
font-weight: 500;
font-style: italic;
font-size: 32px;
color: #F3F8F2;
margin-left: 120px;
margin-right: 120px;
background-color: transparent;
padding:1px;

overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
		}

		@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  5% { border-color: whitesmoke; border-top:50%; }
}

@media screen and (max-width: 650px) {

  .dark{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    margin-left: 90px;
  }
  }

.para1 {
	  margin-right: 750px;
  margin-left: 80px;
  text-align: justify;
  text-justify: inter-word;
font-size:24px;
font-family: "edita", serif;
font-weight: 400;
font-style: normal;
color:#F3F8F2;
}

@media screen and (max-width: 650px) {


  .para1 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    margin-left: 100px;
  }
}


#bw {
  height:500px;
  position: relative;
 top: -600px;
 left: 850px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */ 
   /* transform: rotate(.03turn);  */
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media screen and (max-width: 650px) {

	#bw {

		opacity: 0;
	}

}

.move {
	position: relative;
	margin-top: -300px;
}
.m1
{
	color:#191516;
	background-color: #F3F8F2;
	font-family: "findreplace", sans-serif;
font-weight: 900;
font-style: normal;
	font-size:28px;
	padding: 18px;
	position: relative;
	top: -400;
}

.p1 {
	display:flex;
		width: 180px;
		height: 400px;
		padding: 70px;
		}

		.p2 {
	display:flex;
		width: 180px;
		height: 400px;
		padding: 70px
		}

		.p3 {
	display:flex;
		width: 180px;
		height: 400px;
		padding: 70px
		}

.photos1

{


 position: relative;
  left: 20px;
  top: -10px;
  display:flex;
  flex-direction: row;
    width: 100%;
 margin-left: 230px;

}


.p4 {
	display:flex;
		width: 180px;
		height: 400px;
		padding: 70px;
		}

		.p5 {
	display:flex;
		width: 180px;
		height: 400px;
		padding: 70px
		}

		.p6 {
	display:flex;
		width: 180px;
		height: 400px;
		padding: 70px
		}

.photos2

{


 position: relative;
  left: 20px;
  top: -550px;
  display:flex;
  flex-direction: row;
    width: 100%;
 margin-left: 230px;
 opacity: 0;
 transition: all 0.7s ease;

}

.photos2:hover {
	opacity: 1;
}


@media screen and (max-width: 650px) {
  .photos1,
  .photos2 {
    flex-direction: column; 
 margin-left: 0;
  }

  .p1,
  .p2,
  .p3,
  .p4,
  .p5,
  .p6 {
    scale: 25%; /* Make images take full width of their containers */
    height: auto; /* Allow images to scale proportionally */
    margin: 0;
    padding: 0; 
    margin-left: -200; /* Remove left margin */
    margin-bottom: 0px; /* Add some spacing between photos */
  }

  .photos2 {
    top: -6900px; /* Adjust the top position based on your design */
  }





.text2 {
	align-items: center;
	font-family: "edita", serif;
font-weight: 500;
font-style: italic;
font-size: 32px;
color: #F3F8F2;
margin-left: 120px;
margin-right: 120px;
margin-top: -7600px;

}

@media screen and (max-width: 650px) {

	.text2 {
		font-size: 18px;
	}
	}





.card1

{
	display:flex;
		width: 260px;
		height: 700px;
		padding: 70px;
		margin-left: 140px;
}

.card2

{
	display:flex;
		width: 250px;
		height: 962px;
		padding: 70px;
		margin-left: 68px;
		margin-top: -970px;
		opacity: 0;
		transition: all 0.7s ease;
}

.card2:hover{
	opacity: 1;
}

@media screen and (max-width: 650px) { 

	.card1 {

		scale:40%;
	}


}

@media screen and (max-width: 650px) { 

	.card2 {

		scale:40%;

		margin-left: 115px;
	}


}

@media screen and (max-width: 650px) { 

	.headshot{

		margin-left: -260px;
		margin-top: -250px;
		margin-bottom: -300px;
	}


}



.dialogue
{
	align-items: center;
	font-family: "edita", serif;
font-weight: 500;
font-style: italic;
font-size: 32px;
color: #F3F8F2;
margin-left: 120px;
margin-right: 120px;
background-color: transparent;
padding:1px;
margin-top: 100px;

overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
		}

		@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


@keyframes blink-caret {
  from, to { border-color: transparent }
  5% { border-color: whitesmoke; border-top:50%; }
}

@media screen and (max-width: 650px) {

  .dialogue{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    margin-left: 90px;
  }
  }


.m2
{
	color:#191516;
	background-color: #F3F8F2;
	font-family: "findreplace", sans-serif;
font-weight: 900;
font-style: normal;
	font-size:28px;
	margin-top: 100px;


}

.poetry {  margin-left: 80px;
	text-align: left;
	font-size:24px;
	font-family: "edita", serif;
font-weight: 500;
font-style: italic;
color:#F3F8F2;
position: relative;
  top: 100px;


}

@media screen and (max-width: 650px) {

  .poetry{
    font-size: 18px;
  }

}


.song {
	position: relative;
	max-width: 50%;
	margin-left: 600px;
	top: -400px;
}



@media screen and (max-width: 650px) {

  .song{
    position: relative;
    scale: 80%;
    margin-left: 50px;
	top: 200px;
}
  }

}