body {
	background-color:FFFFFB;
}

.heading{
	color:#124E78;
	font-family: "angie-sans", sans-serif;
font-weight: 600;
font-style: normal;
margin-left: 60px;
}

@media screen and (max-width: 650px) {

  h1 {
    font-size: 24px;
    margin-left: -45px;
  }
}


a:link {
  color: #124E78;
  text-decoration: none;
}

a:visited {
  color:#124E78;
  text-decoration: none;
}

a:hover {
  color:#1C2035; 
 text-decoration: none;}

.er {
	    display:flex;
		width: 1000px;
		height: 500px;
		justify-content: center;
		align-content: center
	}

	 @media screen and (max-width: 650px) {

    .er {
      scale:55%;
      margin-left: -250px;
      margin-top: -100px;
    }
  }


		h4{
	color: #124E78;
	font-family: "edita", serif;
font-weight: 400;
font-style: normal;
}

@media screen and (max-width: 650px) {

 h4 {
    font-size: 18px;
         margin-top: -75px;
  }

}


.para1 {
	  margin-right: 80px;
  margin-left: 80px;
  text-align: justify;
  text-justify: inter-word;
font-size:24px;
font-family: "edita", serif;
font-weight: 400;
font-style: normal;
color:#124E78;
}

@media screen and (max-width: 650px) {


  .para1{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    margin-top: -20px;
  }
}

.t1{
	color: #124E78;
  font-family: "edita", serif;
font-weight: 400;
font-style: italic;
color:#E1CE7A
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;

}

@media screen and (max-width: 650px) {
.t1 {
	font-size: 18px;
	margin-left: 20px;

}
}






.scroll {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  padding: 30px;
}


div.scroll-container img {
  padding: 10px;
}

.ergif {
	display:flex;
		width: 1000px;
		height: 500px;
		justify-content: center;
		align-content: center;
		margin-left:275px;
}

@media screen and (max-width: 650px) { 

.ergif {
	scale: 50%;
	margin-left: -250px;
}
}

.music {
	margin-left: 100px;
	margin-right: 100px;
}

.m1 {
	

	color:white;
	background-color: #124E78;
	font-family: "edita", serif;
font-weight: 500;
font-style: italic;
	font-size:28px;
	margin-top: 100px;
	margin-left: -170px;
	margin-right: -170px;


}


.poetry {  margin-left: 80px;
	text-align: left;
	font-size:24px;
	font-family: "edita", serif;
font-weight: 500;
font-style: italic;
color:#124E78;
position: relative;
  top: 100px;


}

@media screen and (max-width: 650px) {

  .poetry {
    font-size: 18px;
    margin-left: 18px;
  }